.song-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5%;
    img{
        width: 20%;
        border-radius: 50%;
    }
    
    h2{
        margin-bottom: 0;
        padding-top: 2%;
    }
    h3{
        font-size: 1rem;
        margin-bottom: 0;
    }
}

//for responsive (mobile-version)

@media screen and (max-width:768px){
    .song-container{
        img{
            width: 60%;
        }
    }
}